<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View {{ table_name }}</title>
</head>
<body>
    <h1>{{ table_name.capitalize() }} Table</h1>
    <table border="1">
        <thead>
            <tr>
                {% for key in rows[0].keys() %}
                    <th>{{ key.capitalize() }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
